<html>
    <head>
      <title>Alphabets</title>
      <link type="text/css" href="main.css" rel="stylesheet">
    </head>

    <body>
         <ul style="text-align:center;">
          % for line in lines:
             {{line}}
             </br>
          % end
         </ul>
    </body>
</html>
